<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        HOME
    </h1>
    <form action="/transfer" method="post">
        <input type="text" placeholder="Enter" name="msgs">
        <input type="submit" value="submit">
        <img src="/abled.jpg" alt="Image Alt Text">
    </form>
</body>
</html>